body>table{
    width: 100%
}

table{
    border-collpse:collapse;
    text-align:center;
}

table.list{
    width:100%;
    text-align:left;
}

table.list td{
    text-align:left;
}

td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),table.list thead>tr{
    background-color: rgb(235,191,221);
}

input[type=text],input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: boeder-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}